/* ========== Root Defaults ========== */
#root {
    green: #00974d;
    red: #f3292b;
    grey: #d4d4d4;

    -fx-padding: 50;
}

/* ========== TabPane Styling ========== */

.tab-header-background {
    -fx-background-color: null;
}

.tab-header-area {
    -fx-spacing: 50;
}

.tab {
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 18;

    -fx-padding: 0 20 0 20;  /* top, right, bottom, left padding */

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-background-color: transparent;

    -fx-cursor: hand;
}

.tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #a5d8ff;
}

.tab:hover{
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}



/* ========== General Card Style ========== */
.card {
    -fx-padding: 10;
    -fx-background-insets: 5;
    -fx-border-insets: 5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: white;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 4);
}

.card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 4);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;

}

/* ========== Typography ========== */
.sectionTitle,
.dataTitle {
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 25;
}

.dataTitle {
    -fx-font-weight: bold;
}

.standardLabel,
.boldLabel {
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 18;
}

.boldLabel {
    -fx-font-weight: bold;
}

.monthLabel {
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.valueLabel {
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

/* ========== Utility ========== */
.labelBox {
    -fx-alignment: center-left;
}

.dataTitleBox {
    -fx-alignment: center;
}

.line {
    -fx-stroke: #e5e6e8;
    -fx-stroke-width: 3;
}

.buttonsBox {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;

}

#white {
    -fx-text-fill: white;
}

#positive {
    -fx-text-fill: green;
}

#negative {
    -fx-text-fill: red;
}


/* ========== Balance Data Card ========== */
.balanceBox {
    -fx-background-color: #f6f7f7;
    -fx-background-radius: 10;
    -fx-background-insets: 20;

    -fx-border-color: #e1e1e1;
    -fx-border-radius: 10;
    -fx-border-insets: 20;
    -fx-border-width: 2;

    -fx-padding: 10;
    -fx-alignment: center;
}

.balanceTitleBox {
    -fx-alignment: bottom-center;
}

.balanceValue {
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

/* ========== Month Box ========== */
.monthBox {
    -fx-background-color: #f8ead9;
    -fx-background-radius: 10;
    -fx-background-insets: 20;

    -fx-border-color: #e0c9b1;
    -fx-border-radius: 10;
    -fx-border-insets: 20;
    -fx-border-width: 2;

    -fx-padding: 10;
    -fx-alignment: center;
}

/* ========== Budget Data Card ========== */
.budgetTitleBox {
    -fx-padding: 30;
    -fx-alignment: center-left;
}

.budgetDisplayBar {
    -fx-accent: red;
    -fx-padding: 20;
}

.budgetDisplayBar .track {
    -fx-background-color: green;
    -fx-background-radius: 12;
    -fx-background-insets: 0;
}

.budgetDisplayBar .bar {
    -fx-background-radius: 12;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.15), 4, 0.0, 0, 2);
}

.spentBox {
    -fx-alignment: center-left;
}

.remainingBox {
    -fx-alignment: center-right;
}

.budgetDisplayLabels {
    -fx-padding: 20;
}

/* ========== Dashboard Colored Cards ========== */
.greenCard,
.redCard,
.yellowCard {
    -fx-background-insets: 15;
    -fx-border-insets: 15;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 2, 4);
    -fx-alignment: center;
}

.greenCard {
    -fx-background-color: green;
}

.redCard {
    -fx-background-color: red;
}

.yellowCard {
    -fx-background-color: #feaf00;
}

.greenCard:hover,
.redCard:hover,
.yellowCard:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 4);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

/* ========== Add Transaction Button ========== */
.transactionButton {
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: white;

    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #474d51;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 2, 4);
    -fx-cursor: hand;

}

.transactionButton:hover {
    -fx-background-color: #363c40;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 4);
}

.transactionButton:pressed {
    -fx-background-color: #252b30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 4);
}

/* ========== Add Transaction Styling ========== */
#transactionRoot {
    green: #00974d;
    red: #f3292b;
    grey: #d4d4d4;

    -fx-padding: 10;
}

.toggleButtonsBox {
    -fx-alignment: center-right;
}

.toggleButton {
    -fx-font-size: 15;
    -fx-text-fill: black;

    -fx-background-color: grey;
    -fx-background-radius: 5;
    -fx-background-insets: 10;

    -fx-border-radius: 5;
    -fx-border-insets: 10;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 2, 4);
    -fx-cursor: hand;

}

.toggleButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 4);
}

#redButton:selected {
    -fx-background-color: red;
    -fx-text-fill: white;


}

#greenButton:selected {
    -fx-background-color: green;
    -fx-text-fill: white;

}

/* Entry Field */
.entryField {
    -fx-font-size: 14;
}

.fieldBox {
    -fx-alignment: center;
}

/* Confirm/Cancel Buttons */
.button {
    -fx-text-fill: white;

    -fx-font-size: 18;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 2, 4);

    -fx-cursor: hand;


}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 4);
}

.button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0);
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 2, 4);
}

.confirm{
    -fx-background-color: green;
    -fx-cursor: hand;


}

.cancel {
    -fx-background-color: red;
    -fx-cursor: hand;

}

/* ========== List View Styling ========== */
.listTab {
    green: #00974d;
    red: #f3292b;

    -fx-padding: 30;
}

.listView {
    -fx-border-color: black;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}



.listView .cell{
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 18;

    -fx-cursor: hand;


}

.listView .cell .expense {
    -fx-text-fill: red;
}

.listView .cell:selected{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.listHeader{

    -fx-padding: 10;
    -fx-font-family: 'Helvetica', sans-serif;
    -fx-font-size: 18;
    -fx-font-weight: bold;

}

#transactionEditor {
    -fx-margin: 10;
    -fx-translate-x: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 10, 4);
}

#transactionEditor:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 10, 4);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

